<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jip.springboot_ssm.dao.IDeptDao">
    <resultMap id="basemap" type="com.jip.springboot_ssm.entity.Dept">
        <id property="uuid" column="uuid"/>
        <result column="name" property="name"/>
        <result property="tele" column="tele"/>
    </resultMap>

    <select id="getDeptById" resultType="com.jip.springboot_ssm.entity.Dept">
        select * from dep where uuid = #{id}
    </select>

    <select id="getAll" resultMap="basemap">
        select * from dep;
    </select>


</mapper>